html, body {
	width: 100%;
	height: 100%;
}

.title {
	text-align: center;
}

.container {
	width: 100%;
	height: 100%;
}

.sidebar {
	position: absolute;
	top: ;
	left: 0;
	width: 25%;
	height: 100%;
}

article {
	width: 75%;
	margin-left: 25%;
}


li {
	list-style: none;
}




